<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Disciplinas</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <h1>Disciplinas</h1>

    <div class="button-container">
        <a href="/estudantes" class="button">Cadastrar Estudantes</a>
        <a th:href="@{/disciplinas/nova}" class="button">Adicionar Nova Disciplina</a>
        <a href="/inscricoes" class="button">Cadastrar Inscrições</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Professor</th> 
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="disciplina : ${disciplinas}">
                <td th:text="${disciplina.id}"></td>
                <td th:text="${disciplina.nome}"></td>
                <td th:text="${disciplina.descricao}"></td>
                <td th:text="${disciplina.professor}">Professor</td> 
                <td>
                    <a th:href="@{/disciplinas/editar/{id}(id=${disciplina.id})}">Editar</a>
                    <a th:href="@{/disciplinas/excluir/{id}(id=${disciplina.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
