<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Inscrição</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Seu arquivo CSS -->
</head>
<body>
    <h2>Cadastrar Inscrição</h2>

    <form th:action="@{/inscricoes}" th:object="${inscricao}" method="post">
        <input type="hidden" th:field="*{id}" /> <!-- Campo oculto para o ID da inscrição -->
        
        <div>
            <label for="estudante">Estudante</label>
            <select th:field="*{estudante.id}">
                <option th:each="estudante : ${estudantes}" th:value="${estudante.id}" th:text="${estudante.nome}"></option>
            </select>
        </div>
    
        <div>
            <label for="disciplina">Disciplina</label>
            <select th:field="*{disciplina.id}">
                <option th:each="disciplina : ${disciplinas}" th:value="${disciplina.id}" th:text="${disciplina.nome}"></option>
            </select>
        </div>
    
        <div>
            <label for="dataInscricao">Data de Inscrição</label>
            <input type="date" th:field="*{dataInscricao}" />
        </div>
    
        <button type="submit">Salvar</button>
    </form>
    

    <a href="/inscricoes">Voltar para lista de inscrições</a>
</body>
</html>
